cfgv==3.3.1 ; python_version >= "3.9" and python_version < "4.0"
distlib==0.3.6 ; python_version >= "3.9" and python_version < "4.0"
filelock==3.10.7 ; python_version >= "3.9" and python_version < "4.0"
identify==2.5.22 ; python_version >= "3.9" and python_version < "4.0"
mypy-extensions==1.0.0 ; python_version >= "3.9" and python_version < "4.0"
mypy==1.1.1 ; python_version >= "3.9" and python_version < "4.0"
nodeenv==1.7.0 ; python_version >= "3.9" and python_version < "4.0"
platformdirs==2.6.2 ; python_version >= "3.9" and python_version < "4.0"
pre-commit==3.2.1 ; python_version >= "3.9" and python_version < "4.0"
pyyaml==6.0 ; python_version >= "3.9" and python_version < "4.0"
setuptools==67.6.1 ; python_version >= "3.9" and python_version < "4.0"
tomli==2.0.1 ; python_version >= "3.9" and python_version < "3.11"
types-pyyaml==6.0.12.9 ; python_version >= "3.9" and python_version < "4.0"
types-toml==0.10.8.6 ; python_version >= "3.9" and python_version < "4.0"
typing-extensions==4.5.0 ; python_version >= "3.9" and python_version < "4.0"
virtualenv==20.21.0 ; python_version >= "3.9" and python_version < "4.0"
